.setting-item {
    margin-bottom: 30px;
}

.setting-item .settingItem-header {
    font-size: 18px;
    font-weight: 1000;
    margin-bottom: 20px;
}

.setting-item svg {
    margin-right: 5px;
}

.setting-item button {
    width: 60px;
}