.vertify-container {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #5353da;
}

.vertify-form-container {
    width: 440px;
    min-height: 300px;
    padding: 40px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.vertify-title {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 10px;
    color: black;
}

.vertify-form-option {
    display: flex;
    justify-content: space-between;
}